body
{
    text-align: center;
}

#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: rgb(255, 81, 0);
}

#myCarousel img{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
margin-top: 15px;
margin-bottom: 15px;
font-size: 20px;
color: aliceblue;
}